<section class="hero-section" data-aos="fade-up">
    <div class="container">
      <div class="row align-items-center">
        <!-- Texte + CTA -->
        <div class="col-lg-6 order-lg-1 order-2">
          <div class="hero-content">
            <h1 class="hero-title">
              Je suis  Chanel Mbianga <span class="text-gradient typing-effect"></span>
            </h1>
            <p class="hero-subtitle">
                🔥 Développeur Front-End Junior (Angular & Firebase)
            </p>
            <p class="hero-subtitle">
                🚀 En formation Express/NestJS pour le Full-Stack et  Ionic pour mobile
            </p>
            <div class="cta-wrapper">
              <a routerLink="/projects" class="btn btn-gradient">Voir mes projets</a>

              <a routerLink="/cv" class="btn btn-ghost">Télécharger CV</a>
            </div>
          </div>
        </div>
  
        <!-- Image de profil -->
        <div class="col-lg-6 order-lg-2 order-1">
          <div class="hero-image-wrapper">
            <img 
              src="assets/images/4bfce95f-e89f-4414-9e0e-418bdd425fce.jpeg" 
              alt="Profil" 
              class="hero-image"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
            <div class="gradient-border"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-about></app-about>
  <app-projects></app-projects>
  <app-skills></app-skills>
  <app-cv></app-cv>
  <app-contact></app-contact>